body {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 24px;
}
body:hover a{
    text-decoration: none;
}
nav{
    font: normal 18px Roboto Slab;
    text-transform: uppercase;
}
.site-header img{
    width: 235px;
    height: auto;
}
#dkn1{
    background-image: url(../images/Rectangle%2026.svg);
    background-repeat:repeat-y;
    background-size: 0%;
    background-origin: padding-box;
    background-clip: content-box;
    transition: background-size;
    transition-duration: 1s;
}
#dkn1:hover, #dkn2:hover, #dkn3:hover{
    background-size: 1.5rem;
    color: #599B47;
}
#dkn2, #dkn3{
    background-image: url(../images/Rectangle%2026.svg);
    background-repeat:repeat-y;
    background-size: 0%;
    background-origin: padding-box;
    background-clip: content-box;
    transition: background-size;
    transition-duration: 1s;
}
#dkn4>span{
    font-weight: bold;
    padding: 0px 5px 0px 0px;
}
.ln{
    position: relative;
    top: 6px;
    width: 2px;
    background-image: url(../images/Line%209.svg);
    background-repeat: no-repeat;
}
#dkn5{
    border: solid 1px #000000;
    margin: 0px 0px 0px 10px;
}
#dkn5:hover{
    border: solid 1px #599B47;
}
.navbar-nav li:last-of-type>a>img{
    width: 25px;
    height: auto;
    position: relative;
    bottom: 1px;
    margin: 0px 3px 0px 3px;
}

.navbar-light{
    padding: 0px 55px 0px 55px;
    margin: 20px 0px 0px 0px;
}
nav.navbar.navbar-expand-md.navbar-light > a > img{
    width: 230px;
    position: absolute;
    top: -12px;
    z-index: 1;
}
.collapse.navbar-collapse{
    margin-left: 15%;
}
#navbarNav > ul > li{
    margin: 0px 5px 0px 5px;
}

body > main{
    margin: 1rem 0rem 0rem 0rem;
    position: relative;
}
#carouselExampleCaptions > div > div.carousel-item > div{
    left: 4rem;
    top: 5rem;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0em;
    text-align: left;
}
#carouselExampleCaptions > div > div.carousel-item > div > h1 {
    font-size: 96px;
    padding: 0rem 0rem 0rem 1rem;
    animation: uper 3s forwards ease-in-out;
}
@keyframes uper {
    0% {
        opacity: 0;
        padding: 2rem 0rem 0rem 1rem
    }
    100% {
        opacity: 1;
        padding: 0rem 0rem 0rem 1rem;
    }
}
@keyframes uperSq {
    0% {
        opacity: 0;
        padding: 2rem 0rem 0rem 0rem
    }
    100% {
        opacity: 1;
        padding: 0rem 0rem 0rem 0rem;
    }
}

#carouselExampleCaptions > div > div.carousel-item > div >  img{
    position: absolute;
    z-index: -1;
    animation: uperSq 3s forwards ease-in-out;
}
#carouselExampleCaptions > div > div.carousel-item > div > p:first-of-type{
    font-size: 24px;
    margin-top: 2rem;
    opacity: 0;
    animation: uperSq 3s forwards ease-in-out 500ms;
}
#carouselExampleCaptions > div > div.carousel-item > div > p:first-of-type > span{
    font-size: 36px;
}
#carouselExampleCaptions > div > div.carousel-item > div > p:nth-child(4){
    animation: uperSq 3s forwards ease-in-out 1s;
    opacity: 0;
}
#carouselExampleCaptions > div > div.carousel-item > div > button{
    font-size: 24px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    width: 210px;
    height: 65px;
    padding: 0px;
    opacity: 0;
    animation: uperSq 3s forwards ease-in-out 1500ms;

}
#carouselExampleCaptions > div > div.carousel-item > div > button > span > img{
    margin-right: 6px;
}

#carouselExampleCaptions > div > div.carousel-item > div > button:focus{
    box-shadow: none;
}
#carouselExampleCaptions > div > div.carousel-item > div > button:hover{
    background-color: #599B47;
    border: none;
}
#carouselExampleCaptions > a{
    z-index: 10;
    margin: auto;
    height: 40px
}
.carousel-indicators{
    display: none;
}
.col-7.greenbord{
    position: absolute;
    background-image: url(../images/Group%203.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    top: 370px;
    right: 0rem;
}
.col-7.greenbord img:first-of-type{
    position: relative;
    top: 1rem;
}
.col-7.greenbord img:last-of-type{
    position: relative;
    left: 30rem;
    top: 4rem;
    left: 22.5rem;
}
.col-7.greenbord p:first-of-type{
    color: #ffffff;
    position: relative;
    left: 15rem;
    top: -5rem;
    font-size: 24px;
    width: 22rem;
}
.col-7.greenbord p:last-of-type{
    color: #ffffff;
    position: relative;
    left: 15rem;
    top: -5rem;
    font-size: 14px;
    width: 15rem;
    height: auto;
}
.onedoard{
    margin-top: 12rem;
}
.greentext object{
    position: relative;
    top: 22px;
    left: 74px;
}

.greentext h5 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
}
.greentext h5 span:last-of-type{
    color: #599B47;
}
.dash{
    position: relative;
    border: 2px dashed #d9dfd7;
    box-sizing: border-box;
    height: 10rem;
}
.minidash{
    position: absolute;
    width: 55px;
    height: 100px;
    border: 2px dashed #d9dfd7;
    border-radius: 24px;
    box-sizing: border-box;
    left: -27px;
    top: 29px;
    background-color: #FFFFFF;
    margin: auto;
    padding: 9px;
}
.minidash object{
    width: 2rem;
    height: 100%;
}
.microdash{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px dashed #d9dfd7;
    border-radius: 10px;
    background-color: #FFFFFF;
    left: 11px;
    top: 31px;
}
.dash img{
    width: 100%;
    margin: 22px 0px 22px 0px;
}
.dash > h1{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
}
.dash > p{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    margin: 0px 41px 0px 41px;
}
.dash > h1:hover{
    color: #599B47;
}

.minidash img:last-child{
    display: none;
}
.microdash > span{
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    left: 4px;
    top: -6px;
}

.greendote{
    position: relative;
}
.greendote>img{
    width: 100%;
    height: auto;
}
.greendote > a{
    position: absolute;
}
.greendote > a:focus{
    box-shadow: none;
}
.greendote > a:nth-child(2){
    top: 8rem;
    left: 5rem;
}
.greendote > a:nth-child(3){
    top: 4rem;
    left: 14rem;
}
.greendote > a:nth-child(4){
    top: 10rem;
    left: 26rem;
}
.greendote > a:nth-child(5){
    top: 24rem;
    left: 6rem;
}
.greendote > a:nth-child(6){
    top: 20rem;
    left: 15rem;
}
.container.maintrig > .row > .col-12{
    background: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px 5px rgba(229, 229, 229, 0.5);
    border-radius: 25px;
}
.container.maintrig > .row > .col-12 > .row{
    height: 8rem;
}
.container.maintrig > div > div > div > div.col > img{
    width: 60px;
    height: 60px;
    margin: auto 1rem auto auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container.maintrig > div > div > div > div.col > img:nth-child(2){
    display: none;
    height: 60px;
    width: 60px;
    filter: drop-shadow(0px 4px 4px rgba(89, 155, 71, 0.47));
}
.container.maintrig > div > div > div > div > h5{
    color: #77787B;
    margin: auto auto auto 0rem;
}
.container.maintrig > div > div > div > div.col{
    display: inline-flex;
    cursor: pointer;
}

.maintrig.align-items-center{
    display: inline;
}
@keyframes infoBaner {
    0%{
        font-size: 1.25rem;
    }
    100%{
        font-size: 3rem;
    }
}
body > div.div.container.content > div.row.row-cols-3 > div::after{
    position: absolute;
    content: '';
    right: 0px;
    top: -3px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    border: 8px solid #eef2ed;
    transform: skew(-0deg, -8deg);
    margin: 0rem 0.25rem 0rem 0.25rem;
}
.card{
    margin: 0rem 0.5rem 0rem 0.5rem;
    height: 100%;
}
.card-img{
    margin: 0rem 0.5rem 0rem 0.5rem
}
div.div.container.content > div.row.row-cols-3 > div > div{
    background: #E0F3DB;
    box-shadow: 0px 0px 30px 1px rgba(89, 155, 71, 0.5);
}
div.div.container.content > div.row.row-cols-3 > div > div > div > div.col-md-8 > div > button{
    width: 188px;
    height: 37px;
    left: 78px;
    top: 377px;
    background: #599B47;
    border-radius: 0px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.card-body{
    color: #4D4E51;
}
.card-body > .card-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.card-body > .card-text > .nam{
    margin: 0rem 0rem 0rem 1rem;
}

div.div.container.content > div.row.row-cols-3 > div > div > div > div.col-md-8 > div > button:focus{
    box-shadow: none;
}
.dropbaner > div{
    position: absolute;
    background: #FFFFFF;
    font-family: Old Standard TT;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    z-index: 1;
}
.dropbaner{
    position: relative;
}
.dropbaner > div > h5{
    font-size: 24px;
    line-height: 25px;
    margin-top: 1rem;
    padding: 0rem 4rem 0rem 1rem;
}
.dropbaner > div > p{
    font-size: 16px;
    line-height: 25px;
    padding: 0rem 1rem 0rem 1rem;
}
.dropbaner > .col-auto{
    display: none;
}
.row.articl{
    background-color: #E9EDE7;
}
.articl img{
    width: 100%;
    height: auto;
}
.articl>div:nth-child(1){
    padding-left: 0px;
}
.articl>div:last-child>.card-title{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
}
.articl>div:last-child>p.card-text:nth-of-type(1){
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #353535;
}
.articl>div:last-child>p.card-text:nth-of-type(2){
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #353535;
}
.articl>div:last-child>p:nth-of-type(3){
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #353535;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 1px;
}
body{
    background-image: url(../images/atcldg.png);
    background-repeat: no-repeat;
    background-position: 50% 223rem;
}



.articl span.art{
    display: none;
}
.row.articl{
    border: 1px solid #8B8C8A;
}
















.container.form > div > div{
    border: 1px solid #599B47;
    box-sizing: border-box;
}
.container.form > div > div{
    padding: 2rem;

}
.form-group > input{
    border-radius: 0rem;
    height: 3rem;
}
.form-group > button{
    border-radius: 0rem;
    background: #599B47;
    border-color: #599B47;
}
.form-group > button:hover{
    border-radius: 0rem;
    background: #ffffff;
    border-color: #599B47;
    color: #599B47;
}
.form-group > button:focus{
    background: #ffffff;
    border-color: #599B47;
    color: #599B47;
    box-shadow: 0 0 0 0.2rem rgba(89, 155, 71, 0.47);
}
body > div.container.form > div > div:nth-child(1) > form > div.form-group.mb-0 > button:active{
    color: #fff;
    background-color: #599B47;
    border-color: #599B47;
    box-shadow: 0 0 0 0.2rem rgba(89, 155, 71, 0.47);
}
.container.form > .row > div:last-child{
    display: flex;
}
.container.form > .row > div:last-child > .col{
    display: inline-block;
    align-self: center;
}
.container.form > .row > div:last-child > .col > object{
    position: relative;
    top: 5px;
}
.container.form > .row > div:last-child > .col > a{
    font-family: Noto Serif;
    font-size: 18px;
    text-decoration-line: underline;
    color: #599B47;
    margin-left: 1rem;
}
.container-fluid.footer{
    height: 23rem;
    background: #1F1F1F;
}
.container-fluid.footer a{
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5E5;
}
.container-fluid.footer a:hover{
    color: #E5E5E5;
}
body > div.container-fluid.footer.mt-5.p-5 > div > div:nth-child(2) > ul > li:nth-child(2) > a{
    margin-left: 1rem;
}
body > div.container-fluid.footer.mt-5.p-5 > div > div:nth-child(2) > ul > li:nth-child(4) > a{
    text-transform: lowercase;
}
.container-fluid.footer li{
    margin: 1rem 0rem 1rem 0rem;
}
body > div.container-fluid.footer.mt-5.p-5 > div > div:nth-child(2) > ul > li:nth-child(5){
    margin-top: 5rem;
}
body > div.container-fluid.footer.mt-5.p-5 > div > div:nth-child(2) > ul > li:nth-child(5) > a{
    margin-left: 1rem;
    text-transform: lowercase;
}
.content div.modal-header{
    border-bottom: none;
}
.content div.modal-footer{
    border-top: none;
}
.content div.modal-content{
    border-radius: 0px;
}
.content div .modal-content{
    background: #E9EDE7;
    border: 1px solid #353535;
    box-sizing: border-box;
}
.content .modal-body img{
    width: 100%;
    height: auto;
}
.content div.modal-body > div > div > div.col > div > div:nth-child(4){
    border-right: 1px solid #494949;
}
.content div.modal-body > div > div > div.col > div > div:nth-child(1) > h1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    align-items: center;
    color: #000000;
}
.content div.modal-body p{
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
}
.content div.modal-body p:first-child{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}
div.modal-footer > button{
    border-radius: 0px;
}
div.container.partninfo > div.container button{
    position: relative;
    left: 47rem;
    top: -3rem;
    border-radius: 0px;
    background-color: #599B47;
    border: 1px solid #599B47;
}
.popover{
    background: rgba(196, 196, 196, 0.1);
}

.popover h3{
    background: rgba(196, 196, 196, 0.1);
    border-bottom: none;
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}
.popover-body{
    font-family: Old Standard TT;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
#callback > div > div{
    height: 20.5rem;
    background-image: url(../images/Group%203.png);
    background-repeat: no-repeat;
    background-position: -26rem 0rem;
    background-size: 100% 101%;
    background-color: #E9EDE7;
    border-radius: 0px;
    border: 1px solid #4D4E51;
}
#callback .modal-body > form >button:last-child{
    width: 11rem;
    height: 2.5rem;
    background: #E38452;
    border: 1px solid #E38452;
    border-radius: 0px;
    box-sizing: border-box;
    float: right;
    font-family: Roboto Slab;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
}
#callback .modal-body > form >button:last-child:hover{
    background: #FFFFFF;
    border: 1px solid #E38452;
    color: #E38452;
}
#callback .modal-body > form > button:last-child:focus{
    background: #FFFFFF;
    border-color: #E38452;
    border-radius: 0px;
    box-shadow: 0 0 0 0.2rem rgba(227, 132, 82, 0.47);
    color: #E38452;
}
#callback .modal-body .btn.cl{
    background: #659A4B;
    border: 1px solid #659A4B;
    color: #FFFFFF;
}
#callback .modal-body .btn.cl:hover{
    background: #FFFFFF;
    border: 1px solid #659A4B;
    color: #659A4B;
}
#callback .modal-body .btn.cl:focus{
    background: #FFFFFF;
    border: 1px solid #659A4B;
    color: #659A4B;
    box-shadow: 0 0 0 0.2rem rgba(101, 154, 75, 0.47);
}
#callback .modal-body p{
    color: #659A4B;
}

#callback .modal-body input{
    border-radius: 0px;
    height: 3.2rem;
    border: 1px solid #4D4E51;
}
#callback .modal-body textarea{
    border-radius: 0px;
    height: 100%;
    border: 1px solid #4D4E51;
}
.partninfo > div.row > .col-4 > img{
    width: 100%;
    height: auto;
}
.container.cp{
    top: 2000px;
    position: absolute;
}
.footer.mt-5.p-5 > div.row.justify-content-md-center > div:nth-child(1) > ul > li:nth-child(4) > img{
    width: 50%;
    height: auto;
    }


@media only screen and (min-width: 1520px) {
	nav{
	font: normal 25px Roboto Slab;
	}
	nav.navbar.navbar-expand-md.navbar-light > a > img {
	width: 361px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
	.col-7.greenbord{
		background-image: url(../images/Group%2061.png);
		height: 21rem;
		top: 34rem;
	}
	#carouselExampleCaptions > div > div.carousel-item > div > p:first-of-type {
		font-size: 24px;
		margin-top: 12rem;
	}
	#dkn2{
		color: #599B47;
	}
	.navbar-nav li:last-of-type>a>img {
    width: 37px;
    margin: 0px 9px 0px 0px;
	}
	.col-7.greenbord img:first-of-type {
    position: relative;
    top: 3rem;
    left: 2rem;
    width: 15rem;
   }
   .col-7.greenbord p:first-of-type {
    left: 20rem;
    top: -11rem;
    font-size: 2.5rem;
    width: 48rem;
	}
	.col-7.greenbord p:last-of-type {
    left: 20rem;
    top: -9rem;
    font-size: 1.5rem;
    width: 31rem;
	}
	.col-7.greenbord img:last-of-type {
    top: 6rem;
    left: 37.5rem;
	}
	.dash,.minidash {
    border: 1px dashed #353535;
	}
	.dash > p {
    font-size: 19px;
    line-height: 22px;
    margin: 2px 20px 0px 41px;
	}
	body{
        background-image: url(../images/atcldg.png);
        background-repeat: no-repeat;
        background-position: 50% 240rem;
	}
}

@media only screen and (max-width: 1520px) {
    #navbarNav > ul > li{
    margin: 0px 0px 0px 0px;
    }
    div.div.container.content > div.row.row-cols-3 > div > div > div > div.col-md-8 > div > button{
        width: 125px;
    }
    body{
        background-image: url(../images/atcldg.png);
        background-repeat: no-repeat;
        background-position: 50% 222rem;
}
    }
@media only screen and (max-width: 1200px) {
    body{
    background-image: url(../images/atcldg.png);
    background-repeat: no-repeat;
    background-position: 50% 232rem;
    }
    nav.navbar.navbar-expand-md.navbar-light > a > img{
    width: 200px;
    position: absolute;
    top: -12px;
    }
    nav{
        font: normal 16px Roboto Slab;
    }
    div.container.partninfo > div.container button{
    left: 46rem;
    }
    #carouselExampleCaptions > div > div.carousel-item > div > button{
    font-size: 21px;
    height: 55px;
    }
    #carouselExampleCaptions > div > div.carousel-item > div{
    top: 1rem;
    }
    .dash > p{
    margin: 0px 20px 0px 30px;
    }

}
@media only screen and (max-width: 1070px) {
    body{
    background-image: url(../images/atcldg.png);
    background-repeat: no-repeat;
    background-position: 50% 229rem;
    }
    nav.navbar.navbar-expand-md.navbar-light > a > img{
    width: 180px;
    position: absolute;
    top: -12px;
    }
    nav{
        font: normal 14px Roboto Slab;
    }
    div.div.container.content > div.row.row-cols-3 > div > div > div > div.col-md-8 > div > button{
    width: 125px;
    }
    .col-7.greenbord p:first-of-type{
    left: 12rem;
    }
    .col-7.greenbord p:last-of-type{
    left: 12rem;
    }
    .col-7.greenbord img:last-of-type {
    left: 19.5rem;
    }
}
@media only screen and (max-width: 991px) {
    div.div.container.content > div.row.row-cols-3 > div > div > div > div.col-md-8 > div > button{
        width: 90px;
    }
     .col-7.greenbord p:first-of-type{
    left: 12rem;
    }
    #callback .modal-body > form >button:last-child{
    bottom: 1rem;
    right: 1rem;
    }
}
@media only screen and (max-width: 960px) {
    body{
    background-image: url(../images/atcldg.png);
    background-repeat: no-repeat;
    background-position: 50% 248rem;
    }
    nav.navbar.navbar-expand-md.navbar-light > a > img{
    width: 160px;
    position: absolute;
    top: -12px;
    }
    nav{
        font: normal 12px Roboto Slab;
    }
    .col-7.greenbord img:last-of-type{
    left: 17.5rem;
    }
    .col-7.greenbord{
    top: 304px;
    }
    .dash > p{
    margin: 0px 0px 0px 20px;
    line-height: 20px;
    }
    .col-7.greenbord p:first-of-type {
    font-size: 20px;
    margin-top: 1rem;
    left: 7rem;
    }
    .col-7.greenbord p:last-of-type {
    left: 7rem;
    }
    .greendote > a:nth-child(4) {
        top: 9rem;
        left: 20rem;
    }
    #carouselExampleCaptions > div > div.carousel-item > div{
    font-size: 15px;
    }
    #carouselExampleCaptions > div > div.carousel-item > div > h1{
    font-size: 84px;
    }
    #carouselExampleCaptions>div>div.carousel-item>div>img{
        width: 108px;
        height: auto;
    }
    .col-7.greenbord{
    top: 307px;
    }
    .col-7.greenbord{
    height: 10rem;
    }
    div.col-7.greenbord > img:nth-child(1) {
    width: 5rem;
    height: auto;
    }
    div.div.container.content > div.row.row-cols-3 > div > div > div > div.col-md-8 > div > button {
    padding: 6px;
    width: 100%;
    font-size: 15px;
    }
    .container.form > .row > div:last-child > .col > a {
    margin-left: -2rem;
    }
}
@media only screen and (max-width: 830px) {
    nav{
        font: normal 10px Roboto Slab;
    }
    nav.navbar.navbar-expand-md.navbar-light > a > img{
        width: 140px;
        position: absolute;
        top: -12px;
        }

}
@media only screen and (max-width: 770px) {
    .footer.mt-5.p-5 > div.row.justify-content-md-center > div:nth-child(2) > ul > li:nth-child(5) > img{
        width: 1rem;
        height: auto;
    }
    .footer.mt-5.p-5 > div.row.justify-content-md-center > div:nth-child(2) > ul > li:nth-child(2) > img{
            width: 1rem;
            height: auto;
    }
    body{
    background-image: none;
    }
    .onedoard {
    margin-top: 0rem;
    }
    .container.maintrig > div > div > div > div.col > img{
    width: 45px;
    height: 45px;
    margin: 0rem 0.5rem 0rem 0rem;
    }
    .container.maintrig > div > div > div > div.col > img:nth-child(2){
    display: none;
    height: 45px;
    width: 45px;
    }
    .container.maintrig > div > div > div > div > h5 {
    font-size: 15px;
    display: ;
    }
    .dash {
    height: auto;
    }
}
@media only screen and (max-width: 767px) {
    .greendote > a:nth-child(2) {
    top: 0rem;
    left: 1rem;
}.greendote > a:nth-child(3) {
    top: 4rem;
    left: 7rem;
}
    .greendote > a:nth-child(4) {
    top: 9rem;
    left: 8rem;
}
    .greendote > a:nth-child(6) {
    top: 14rem;
    left: 8rem;
}
    .greendote > a:nth-child(5) {
    top: 12rem;
    left: 2rem;
}
}
@media only screen and (max-width: 540px) {
    .container.form > .row > div:last-child > .col > a {
    font-size: 13px;
    }
    .footer.mt-5.p-5 > div.row.justify-content-md-center > div.col-7.col-md-5 > ul > li:nth-child(4) > a{
    display: none;
    }
    div.card > div.row.no-gutters > div.col-md-4{
    padding: 0rem 4rem 0rem 4rem
    }
    .greentext h5 {
    font-size: 18px;
    }
    .greentext object {
    width: 2rem;
    top: 12px;
    left: 34px;
    }
    .container-fluid.footer a {
        font-size: 12px;
    }
    .footer.mt-5.p-5 > div.row.justify-content-md-center > div > ul > li{
        margin: 0rem auto 0rem auto;
    }
    .dash > h1 {
    font-size: 18px;
    }
    .container.maintrig > div > div > div > div.col > img{
    width: 25px;
    height: 25px;
    margin: 0rem 0.5rem 0rem 0rem;
    }
    .container.maintrig > div > div > div > div.col > img:nth-child(2){
        display: none;
        height: 25px;
        width: 25px;
    }
    .container.maintrig > div > div > div > div > h5 {
    font-size: 10px;
    }
    .maintrig > div > div > div > img{
        width: auto;
        height: 2rem;
    }
    .container.maintrig > .row > .col-12 {
    border-top: none;
    box-sizing: none;
    box-shadow: none;
}
}
